In [17]:
from pandas import *

In [18]:
data=pandas.read_csv("./09_pandas_applications/gas_station.csv")

In [19]:
data

   odometer_miles  gallons_added        date  Unnamed: 3
0           31517          3.189  2018-08-15         NaN
1           31605          1.650         NaN         NaN
2           31727          2.329         NaN         NaN
3           31803          1.383  2018-08-27         NaN
4           31956          2.934  2018-09-05         NaN
5           32045          1.857  2018-09-11         NaN
6           32303          5.166  2018-09-19         NaN